body {
  background-color: #058EC9;
}
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 22px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #EEEEEE;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.button_menu{
  left:0px;
  top:0px;
  width:100%;
  background-color:#0A9BD9;
  border:none;
  position: absolute;
}
.button{
  background-color: #0A9BD9;
  padding:10px 24px;
  font-size:20px;
  border:none;
}
.button:hover{
  background: #21ABE6; /* original color was 21ABE6 */
}
.main {
  position: absolute;
  top: 10%;
  z-index:0;
  width:100%;
}
.title{
  top:10%;
  left:40%;
  padding:6px 12px 6px 12px;
  font-size: 32px;
  border:none;
  position: absolute;
}

.big{
  padding:6px 12px 6px 12px;
  font-size: 32px;
  border:none;
}
.div{
  top:120px;
  left:10%;
  background:#6D60D8;
  padding:1.5px 10px 1.5px 3px;
  position:absolute;
  border-left:6px solid #160A7F;
}

.div_main{
  top:120px;
  left:10%;
  width: 80%;
  padding:1.5px 10px 1.5px 3px;
  position:absolute;
  background: #ddd;
  display: flex;
  justify-content: space-evenly;
}

.item{
  align-self: center;
}

.div_badge{
  top:120px;
  left:10%;
  width: 80%;
  padding:1.5px 10px 1.5px 3px;
  position:absolute;
  background-color: #ddd;
}

.div_con{
  top:120px;
  left:10%;
  width: 80%;
  padding:1.5px 10px 1.5px 3px;
  position:absolute;
  background: #ddd;
}

#blok{
  width: 300px;
  height: auto;
  
  background-color: red;
}

#image{
  width: 20%;
  height: auto;
}

#rainbow{
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}

.skills_bars{
  top:200px;
  left:30%;
  position: absolute;
  border-left:6px solid #160A7F;
  padding:1.5px 3px 1.5px 3px;
  width:30%;
}
.container{
  width: 100%;
  background-color: #ddd;
}
.skills{
  text-align: right;
  padding: 10px;
  color: white;
}
.js{width: 20%; background-color: #f44336;}
.html{width:30%; background-color:#419633;}


@media only screen and (max-width: 600px){ 

}

@keyframes rainbow{
  100%,0%{
    color: rgb(255,0,0);
  }
  8%{
    color: rgb(255,127,0);
  }
  16%{
    color: rgb(255,255,0);
  }
  25%{
    color: rgb(127,255,0);
  }
  33%{
    color: rgb(0,255,0);
  }
  41%{
    color: rgb(0,255,127);
  }
  50%{
    color: rgb(0,255,255);
  }
  58%{
    color: rgb(0,127,255);
  }
  66%{
    color: rgb(0,0,255);
  }
  75%{
    color: rgb(127,0,255);
  }
  83%{
    color: rgb(255,0,255);
  }
  91%{
    color: rgb(255,0,127);
  }
}