body {
  background-color: #058EC9;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 22px;
  text-decoration: none;
  font-size: 25px;
  color: #05385F;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #818181;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.button{
  background-color: #0A9BD9;
  padding:10px 24px;
  font-size:14px;
  border:none;
}
.button:hover{
  background: #21ABE6; //original color was 21ABE6
}
